<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>Bliss{if $title} - {$title}{/if}</title>
        <meta name="description" content=""/>
        <link rel="shortcut icon" href="favicon.png" type="image/png"/>
        <link rel="stylesheet" href="public/styles/reset.css" media="all"/>
        <link rel="stylesheet" href="public/styles/all.css" media="all"/>
        <link rel="stylesheet" href="public/styles/print.css" media="print"/>
{block name=stylesheet}{/block}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Maven+Pro:regular,bold,italic,bolditalic" type="text/css">
        <script src="public/scripts/modernizr-1.7.min.js"></script>
    </head>
    <body>
{if $demo_install}
        <a href="http://github.com/CBeerta">
            <img style="position: fixed; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub">
        </a>
{/if}
        <div class="pulldown">
            <div id="options">
            <form method="POST" action="add_feed">
                <input id="add_feed" type="url" size="40" name="add" placeholder="Add a new Feed">
                <input type="submit" value="Go!">
            </form>
            </div>
            <div id="lip">
            <a href="{$base_uri}#select-unread-articles">
                <img id="unread-articles" title="Unread Articles" src="{$base_uri}public/fire.png" width="32" height="32" />
            </a>
            <a href="{$base_uri}#select-all-articles">
                <img id="load-articles" title="All Articles" src="{$base_uri}public/house.png" width="32" height="32" />
            </a>
            <a href="{$base_uri}#select-day-today">
                <img id="select-day" title="Todays Articles" src="{$base_uri}public/date_magnify.png" width="32" height="32" />
            </a>
            <a href="{$base_uri}#select-flagged-articles">
                <img id="load-articles" title="Flagged Articles" src="{$base_uri}public/tag_blue.png" width="32" height="32" />
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{$base_uri}archive">
                <img id="archive" title="Archive" src="{$base_uri}public/directory_listing.png" width="32" height="32" />
            </a>
{if $enable_gallery}
            <a href="{$base_uri}gallery">
                <img id="gallery" title="Image Gallery" src="{$base_uri}public/images.png" width="32" height="32" />
            </a>
{/if}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <img id="handle" title="Add Feed" src="{$base_uri}public/feed_add.png" width="32" height="32" />
            <a href="{$base_uri}manage">
                <img id="manage" title="Manage Subscriptions" src="{$base_uri}public/feed_edit.png" width="32" height="32" />
            </a>
            </div>
            <p id="logo">Bliss</p>
            <img src="{$base_uri}public/emotion_happy.png" width="32" height="32" id="logo" title="Happy Place!"/>
        </div>
        <img id="spinner" src="{$base_uri}public/indicator.gif" />
        <div class="updater">
            <img src="{$base_uri}public/update.png" width="32" height="32">
            New Articles Available!
        </div>
        <div class="feedback"></div>
        <div id="main" role="main">
{block name=body}{/block}
        </div>        
        <footer>
        <!-- this footer is important leave it intact, otherwise the initial load will fail -->
        Bliss {$bliss_version} &copy; 2011 <a href="http://claus.beerta.net/">Claus Beerta</a> <a href="mailto:claus@beerta.de">&lt;claus@beerta.de&gt;</a>
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="public/scripts/all.js"></script>
        <!--[if lt IE 9 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
        <script>window.attachEvent("onload",function() { CFInstall.check( { mode:"overlay" } ) } )</script>
        <![endif]-->
{block name=scripts}{/block}
    </body>
</html>
