{if $entry}
<article id="{$entry->info->timestamp}" class="bliss-article">
    <header>
    <div class="date">{$entry->date|date_format:"D jS F Y H:i"}</div>
    <p>
    From <a href="#select-feed-{$entry->info->feed}"><em>{$entry->info->title}</em></a>
    posted by: <em>{$entry->author->name|default:'Unknown'}</em>
    </p>
    <img 
        name="{$entry->info->relative}" 
        class="flag" 
        src="{$base_uri}public/{if $flagged}tag_blue_delete{else}tag_blue_add{/if}.png" 
        width="24" 
        height="24"
    >
    <h1><a href="{$entry->link}">{$entry->title}</a></h1>
    </header>
    <div class="content">
        {$entry->content|enhance_content:$entry}
    </div>
    <div class="enclosures">
{foreach $entry->enclosures as $enclosure}
{if $enclosure@first}
        <h1>Attachements:</h1>
        <p>
{/if}
{if $enclosure->medium == 'image'}
            <a class="fancyme" href="/image?i={$enclosure->image_url}"><img src="/image?i={$enclosure->image_url}" width="64" name="{$enclosure->title}" title="{$enclosure->title}"></a>

{else}
            <a href="{$enclosure->link}"><img src="public/file.png" width="64" height="64" name="{$enclosure->title}" title="{$enclosure->title}"></a>
{/if}
{if $enclosure@last}
        </p>
{/if}
{/foreach}
    </div>
    <div class="clearfix"></div>
</article>
{/if}
