<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>{$title}</title>
        <meta name="description" content=""/>
        <link rel="shortcut icon" href="public/img/favicon.png" type="image/png"/>
        <link rel="stylesheet" href="public/styles/reset.css" media="all"/>
        <link rel="stylesheet" href="public/styles/all.css" media="all"/>
        <link rel="stylesheet" href="public/styles/print.css" media="print"/>
        <script src="public/scripts/modernizr-1.7.min.js"></script>
    </head>
    <body>
        {block name=body}{/block}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="public/scripts/setup.js"></script>
    </body>
</html>
