<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>{$title|default:'Bliss'}</title>
        <meta name="description" content=""/>
        <link rel="shortcut icon" href="favicon.png" type="image/png"/>
        <link rel="stylesheet" href="public/styles/reset.css" media="all"/>
        <link rel="stylesheet" href="public/styles/all.css" media="all"/>
        <link rel="stylesheet" href="public/styles/print.css" media="print"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:regular,regularitalic,italic,bold,bolditalic" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Amaranth:regular,regularitalic,italic,bold,bolditalic" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Maven+Pro:regular,bold,italic,bolditalic" type="text/css">
        <script src="public/scripts/modernizr-1.7.min.js"></script>
    </head>
    <body>
{if $demo_install}
        <a href="http://github.com/CBeerta">
            <img style="position: fixed; top: 0; left: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/ce742187c818c67d98af16f96ed21c00160c234a/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub">
        </a>
{/if}
        <div class="pulldown">
            <div id="options">
            <form method="POST" action="add_feed">
                <input id="add_feed" type="url" size="40" name="add" placeholder="Add a new Feed">
            </form>
            </div>
            <div id="lip">
            <a href="{$base_uri}#select-all-articles">
                <img id="load-articles" title="All Articles" src="{$base_uri}public/home.png" width="32" height="32" />
            </a>
            <a href="{$base_uri}#select-flagged-articles">
                <img id="load-articles" title="Flagged Articles" src="{$base_uri}public/tag.png" width="32" height="32" />
            </a>
            <a href="{$base_uri}archive">
                <img id="archive" title="Archive" src="{$base_uri}public/calendar.png" width="32" height="32" />
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <img id="handle" title="Add Feed" src="{$base_uri}public/rss.png" width="32" height="32" />
            <a href="{$base_uri}manage">
                <img id="manage" title="Manage Subscriptions" src="{$base_uri}public/configuration.png" width="32" height="32" />
            </a>
            </div>
        </div>
        <img id="spinner" src="{$base_uri}public/ajax-loader.gif" />
        <div class="updater">
            New Articles Available!
        </div>
        <div class="feedback"></div>
        <div id="main" role="main">
{block name=body}{/block}
        </div>        
        <footer><!-- this footer is important leave it intact, otherwise the initial load will fail --></footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="public/scripts/all.js"></script>
{if $is_index}
        <script src="public/scripts/jquery.endless-scroll.js"></script>
        <script src="public/scripts/articles.js"></script>
{/if}
    </body>
</html>
