/* ########## Core Elements ############################### */
html{ background: #FFF; }
body{
	color: #555555;
	font: 12px/20px Maven Pro, serif;
}
h1, h2, h3, h4, h5, h6, ol, ul, dl, p, blockquote, form{ margin: 0 0 20px 0; }
sup, sub{
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}
sup{ bottom: 1ex; }
sub{ top: .5ex; }

/* ########## Basic ####################################### */

#main {
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
}
#content {
}

form, input, textarea {
    padding: 0;
    margin: 0;
}

input {
    border: 1px solid #aaa;
    padding: 5px;
    color: #333;
}

img { 
/*
    float: left; 
*/
}

/* ########## Article ##################################### */
article header p {
    margin: 0 0 5px 0;
}
article header #date {
    color: #888;
    position: relative;
    float: right;
}
article header a {
    font-size: 169%;
    margin: 0 0 5px 0;
    color: #333;
    text-decoration: none;
}
article header em {
    font-style: normal;
    background-color: #eee;
    padding: 2px;
}
article header {
    margin: 0 0 15px 0;
}
article {
    margin: 15px 0 20px 0;
    border-bottom: 1px dotted #aaa;
    min-height: 200px;
}
article .content {
    padding-left: 15px;
}

/* ########## Top Bar ##################################### */

.pulldown {
    font-family: Amaranth;
    position: fixed;
    top: 0px;
    right: 50px;
    z-index: 999;
    min-width: 400px;
}
.pulldown #options {
	background-color: rgba(230, 230, 230, 0.9);
    padding: 5px 10px 2px 10px;
    display: none;
    color: #333;
}
.pulldown img {
    float: right;
    margin: 5px;
    display: none;
}
.pulldown #lip {
    border-radius: 0px 0px 4px 4px;
	background-color: rgba(230, 230, 230, 0.9);
    padding: 2px 10px 4px 10px;
    color: #333;
}

.pulldown #handle {
	background-color: rgba(230, 230, 230, 0.9);
    font-weight: bold;
    color: black;
    border-radius: 0px 0px 4px 4px;
    position: absolute;
    right: 30px;
    margin: 0 0 0 0;
    padding: 2px 8px 2px 8px;
}

/* ########## Feedback #################################### */
.feedback {
	background-color: rgba(30, 120, 30, 0.7);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 10px;
    left: 30%;
	min-width: 200px;
    color: #eee;
    display: none;
}


