/* ########## Core Elements ############################### */
html{ 
    background: #FFF; 
    overflow-y: scroll;
}
body{
	color: #555555;
	font: 12px/20px Maven Pro, serif;
}
h1, h2, h3, h4, h5, h6, ol, ul, dl, p, blockquote, form{ margin: 0 0 20px 0; }
sup, sub{
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}
sup{ bottom: 1ex; }
sub{ top: .5ex; }

a {
    text-decoration: none;
}

/* ########## Basic ####################################### */

#main {
	width: 95%;
	margin: auto auto auto 48px;
	padding: 0;
}
#content {
    margin: 5px auto;
}
form, input, textarea {
    padding: 0;
    margin: 0;
}
input {
    border: 1px solid #aaa;
    padding: 5px;
    color: #333;
}
img {
}
.date {
    position: relative;
    float: right;
    margin: 0 auto;
    color: #888;
	vertical-align: middle;
}
#spinner {
    position: fixed;
    float: right;
    left: 20px;
    top: 5px;
}

/* ########## Article ##################################### */
article header p {
    margin: 0 0 5px 0;
}
article header a {
    color: #333;
    text-decoration: none;
}
article header a:hover {
    color: #333;
    text-decoration: underline;
}
article header h1 a {
    font-size: 169%;
    margin: 0 0 5px 0;
}
article header em {
    font-style: normal;
    background-color: #eee;
    padding: 2px;
}
article header {
    margin: 0 0 15px 0;
    padding-top: 5px;
    border-top: 1px solid #eee;
}
article {
    margin: 0 0 20px 0;
    /*border-bottom: 1px dotted #aaa;*/
    /*min-height: 200px;*/
}
article .content {
    margin-left: 15px;
}
article .enclosures h1 {
    font-weight: bold;
    font-size: 140%;
    padding: 10px 0 5px 0;
    margin: 0px;
}
article .enclosures p {
    margin-left: 15px;
    background-color: #f4f4f4;
    border: 1px solid #999;
    font-size: 121%;
    padding: 10px;
}
article header img {
    cursor: pointer;
    float: left;
    padding-right: 5px;
}
article img {
    max-width: 100%;
}

/* ########## Top Bar ##################################### */
.pulldown {
    font-family: Amaranth;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    min-width: 200px;
    opacity: 0.9;

}
.pulldown #options {
    position: fixed;
    top: 168px;
    left: 32px;
    border-radius: 0px 4px 4px 0px;
	background-color: rgba(60, 60, 60, 1.0);
    padding: 5px 10px 5px 10px;
    display: none;
    color: #333;
}
.pulldown img {
    margin-right: 5px;
    cursor: pointer;
}
.pulldown a {
    text-decoration: none;
}
.pulldown input {
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #aaa;
    background-color: #eee;
    color: #444;
    padding: 5px;
    margin: 5px;
}
.pulldown #lip {
    /*white-space: nowrap;*/
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    min-height: 200px;
    border-radius: 0px 0px 4px 0px;
    margin: auto;
	background-color: rgba(60, 60, 60, 1.0);
    padding: 4px 5px 2px 5px;
    color: #333;
}

/* ########## Feedback #################################### */
.feedback {
	background-color: rgba(30, 120, 30, 0.7);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 30px;
    left: 30%;
	min-width: 200px;
    color: #eee;
    display: none;
}
/* ########## Updater Notifications ####################### */
.updater {
    opacity: 0.8;
    font-family: Amaranth;
    vertical-align: middle;
    line-height: 32px;
	background-color: rgba(60, 60, 60, 1.0);
    border-radius: 0px 10px 0px 0px;
    padding: 2px;
    position: fixed;
    bottom: 0px;
    left: 0px;
	min-width: 200px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.updater img {
    padding: 0 10px 0 5px;
    float: left;
}
/* ########## Archives #################################### */
.archive ul {
}
.archive li#title {
	font: 16px/26px Lato, serif;
    color: #444;
}
.archive a {
    color: #333;
    text-decoration: none;
}
.archive a:hover {
    text-decoration: underline;
}
.archive li {
    list-style: none;
    color: #222;
	vertical-align: middle;
	line-height: 16px;
	margin: 5px;
	padding-bottom: 5px;
}
.archive img {
    float: left;
    margin: 0 auto;
    margin-left: -24px;
}
/* ########## Manage ###################################### */
.manage table {
    width: 100%;
}
.manage th {
	font: 16px/26px Lato, serif;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #444;
}
.manage #date {
    text-align: right;
    padding-right: 10px;
}
.manage tr {
    list-style: none;
    color: #222;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #f9f9f9;
}
.manage td {
    padding-right: 10px;
    vertical-align: middle;
}
.manage img {
    cursor: pointer;
}
.manage a {
    color: #111;
    text-decoration: none;
}
.manage a:hover {
    color: #111;
    text-decoration: underline;
}

/* ########## Gallery ##################################### */
.gallery img {
}
div.gallery {
    display: table-cell;
    vertical-align: middle;
    text-align: center; 
    min-width: 210px;
    min-height: 210px;
    float: left;
}
.gallery a {
    text-decoration: none;
}    




footer {
    color: #aaa;
    text-align: center;
    margin-top: 25px;
}
footer a {
    color: #888;
    text-decoration: none;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

