<?xml version="1.0"?>
<rss version="2.0" xmlns:blogChannel="http://backend.userland.com/blogChannelModule">
	<channel>
		<title>rssReader</title>
		<link>{$rssReaderBaseUrl}</link>
		<description>A RSS Feed provided by rssReader</description>
		<language>en-us</language>
		<lastBuildDate>{$rfcnow}</lastBuildDate>
		<generator>rssReader</generator>
		{section name=daily_idx loop=$daily}
			{section name=time_idx loop=$entry[daily_idx]}
			<item>
				<title>{$entry[daily_idx][time_idx].rsstitle}</title>
				<description>{$entry[daily_idx][time_idx].entrycontentstripped}</description>
				<pubDate>{$entry[daily_idx][time_idx].rfcdate}</pubDate>
				<guid>{$entry[daily_idx][time_idx].entrylink}</guid>
			</item>
			{/section}
		{/section}
	</channel>
</rss>

